@model ShameTheThrones.Models.BathroomModel

@{
    ViewBag.Title = "AddBathroom";
}

<div class="panel panel-default">
    <div class="panel-heading text-center"><h2>Add New Bathroom</h2></div>

    @using (Html.BeginForm("New", "Bathroom"))
    {
    <div class="panel-body">
        <div class="well">
            <h3 class="text-center">Location</h3>
            <div class="row">
                <div class="col-xs-6 text-center">
                    @Html.Label("Address")
                    @Html.TextBoxFor(b => b.Address, new { @class = "form-control", @style = "margin:auto; margin-bottom: 20px" })

                </div>

                <div class="col-xs-6 text-center">
                    @Html.Label("City")
                    @Html.TextBoxFor(b => b.City, new { @class = "form-control", @style = "margin:auto; margin-bottom: 20px" })
                    
                </div>


            </div>
            
            <div class="row">
                <div class="col-xs-6 text-center">
                    @Html.Label("State")
                    @Html.TextBoxFor(b => b.State, new { @class = "form-control", @style = "margin:auto; margin-bottom: 20px" })

                </div>

                <div class="col-xs-6 text-center">
                    @Html.Label("Zip")
                    @Html.TextBoxFor(b => b.ZipCode, new { @class = "form-control", @style = "margin:auto; margin-bottom: 20px" })

                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">

                @{ //gender list array
                    SelectList genderList = new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Male", Value = "male" },
                        new SelectListItem {Text = "Female", Value = "female" },
                        new SelectListItem {Text = "Both", Value = "both" }
                    }, "Value", "Text");

                }
                    @Html.DropDownListFor(x => x.Gender, genderList, "Select Gender",
                        new { @class = "form-control", @style = "margin:auto; margin-bottom: 20px" })
                
                @*<p>Gender: </p>
                <select>
                    <option>genderList[0]</option>
                    <option>genderList[1]</option>
                    <option>genderList[2]</option>
                </select>*@

            </div> 


            <div class="col-xs-6 text-center">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-star" aria-hidden="true">1</span>
                        </button>

                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-star" aria-hidden="true">2</span>
                        </button>

                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-star" aria-hidden="true">3</span>
                        </button>

                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-star" aria-hidden="true">4</span>
                        </button>

                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-star" aria-hidden="true">5</span>
                        </button>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-xs-12">


            </div>

        </div>

    </div>
    }
    </div>


