@using ShameTheThrones.Infrastructure

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">ShameTheThrones</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li @(ViewBag.NavbarTab == "Home" ? "class=\"active\"" : "")>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>

                <li @(ViewBag.NavbarTab == "About" ? "class=\"active\"" : "")>
                    <a href="@Url.Action("About", "Home")">About</a>
                </li>


                <li @(ViewBag.NavbarTab == "Ratings" ? "class=\"active\"" : "")>
                    <a href="@Url.Action("Ratings", "Restroom")">Ratings</a>
                </li>

            <li @(ViewBag.NavbarTab == "Contact" ? "class=\"active\"" : "") >
                <a href="@Url.Action("Index", "Home")">Hall of Shame</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Account", "User")">@Html.Encode(@User.Identity.getUser().UserName)</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut", "User")">Log Out</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("LogIn", "User")">Log In</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "User")">Register</a>
                    </li>
                }
            </ul>

        </div>

    </div>
</nav>