@model ShameTheThrones.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<div class="panel panel-default">

    <div class="panel-heading text-center">Register</div>

    @using (Html.BeginForm("Register", "User"))
    {
        <div class="panel-body">
            <div class="col-xs-12 text-center">
                @Html.Label("User Name")
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @style = "margin:auto; margin-bottom:20px" })
            </div>

            <div class="col-xs-12 text-center">
                @Html.Label("Email Address")
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "margin:auto; margin-bottom:20px" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="col-xs-12 text-center">
                @Html.Label("Password")
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @style = "margin:auto; margin-bottom:20px" })
            </div>
        </div>
        <div class="text-center" style="margin-bottom:20px;">
            <button class="btn btn-default text-center" type="submit">Register</button>
        </div>
    }
   

</div>


